/*******************************************/
/* Global styles shared by all pages*/
/*******************************************/
body {
	font-family: Calibri, Arial;
	font-size: 100%;
	background: black;	
}


/*******************************************/
/* Menubar styling */
/*******************************************/
.showMenuBar {
	-webkit-transition: all 0.5s ease-in-out;
	-webkit-transform: translate(0, 3em);		
}
		
.hideMenuBar {
	-webkit-transition: all 0.5s ease-in-out;
	-webkit-transform: translate(0, -3em);
}

#menuBar {
	position: fixed; 
	left:0px; 
	top:-3em;
	z-index:1000; 
	width:96%;
	padding: 0.25em;
	clear: both;
	margin-left:1%;
	margin-right:1%;
			
	border-bottom: solid 2px black;
	font-size: 1.5em;
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.33, rgb(96,99,69)),
		color-stop(0.66, rgb(160,168,91)),
		color-stop(0.99, rgb(220,242,17))
	);
}
	
#menuBar ul { 
	list-style: none; 
	margin: 0; 
	padding:0; 
}

#menuBar ul li { 
	float: left; 
	margin-right: 0.5em; 
	padding: 0.30em; 
	background-color: #FFFFFF;
	border-radius: 0.5em;
	cursor: pointer; 
}

/* Position groups of buttons on each side of the menuBar */
.menuBarButton { 
	float: left;			
}
.menuBarImage { 
	float: right;	
	vertical-align: middle;
}


/*******************************************/
/*Dialog box styling */
/*******************************************/
#dialog {
  /*Hide by default*/
  display: none;	
  /*Set sizing to allow inside div placement*/
	position: relative;
  /*Assign the appropriate background*/
	background-image: url('../images/backgroundnotewithpin.png');
  
  /*Set size to size of background image*/
  width: 360px; 
  height: 270px;
} 

#overlay {
  /*Hide by default*/
  display: none;	

	/*Set cursor to look like nothing can be clicked if hovering over this div*/
	cursor: wait; 
	
  /*Set postion to ensure it covers the page*/
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100%;
  
  /*Set to esure overlay is behinde the div, but over everything else*/
  z-index: 3000; 
     
  /*Set transparency for various browsers*/
  /*
  filter:alpha(opacity=50); 
  -moz-opacity: 0.5; 
  -khtml-opacity: 0.5; */
  opacity: 0; 
  
  /*Set background colour*/
  background: #000000; 
}

#content {
	color: #000000;
	position: absolute;
	top: 50px;
	left: 10px;
	text-align: left; 
	font: 12px 'Comic Sans MS', Verdana, Arial;
	width: 96%;
	height: 60%;
	/*Set to allow vertical scroll bar only when needed*/
	overflow-y: auto;
	overflow-x: hidden;		
}

#buttons div:hover {
  color: #000;  
}

#yesnobuttons {
  /*Hide by default*/
  display: none;	
}

#okbutton {
  /*Hide by default*/
  display: none;	
}

.buttonrow {
  /*Setup location for buttons*/
	float: right; 	
	margin-right: 12px;
	position: relative;
	top: 230px;
}

.buttonrow div {
  /*Setup location for buttons*/
	border-top-left-radius: .35em;
	border-top-right-radius: .35em;
	border-bottom-left-radius: .35em;
	border-bottom-right-radius: .35em;

	float: right; 
	margin-left: 7px; 
	width: 45px; 
	height: 26px; 
	color: #fff; 
	font: 18px 'Calibri', Verdana, Arial;
	font-weight: bold; 
	text-align: center;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.33, rgb(96,99,69)),
		color-stop(0.66, rgb(160,168,91)),
		color-stop(0.99, rgb(220,242,17))

	);
	border: 1px solid #000; 
	cursor: pointer;
} 


/*******************************************/
/*Wobble effect styling*/ 
/*******************************************/
@-webkit-keyframes alice-wobble {
  0% {
    -webkit-transform: rotate(5deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
  }
}

.wobble {
  -webkit-animation-name: alice-wobble;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1; /* 1 (default) | n | infinite */
  -webkit-animation-direction: alternate; /* normal (default) | alternate */
  -webkit-animation-timing-function: ease-in-out; /* ease (default) | linear | ease-in | ease-out | ease-in-out */

  -webkit-animation-delay: 0; /* 0 (default) | n | now */
  -webkit-animation-fill-mode: both; /* both (default) | none | forwards | backwards */
  -webkit-animation-play-state: running; /* running (default) | paused */
}


/*******************************************/
/*Settings effect styling*/ 
/*******************************************/
#settings {
  /*Hide by default*/
  display: none;	
  /*Set sizing to allow inside div placement*/
	position: relative;
  /*Assign the appropriate background*/
	background-image: url('../images/backgroundwrinkledpaper.png');
  /*border: 2px solid #fff;*/
  /*Set size to size of background image*/
  width: 700px; 
  height: 500px;
  overflow-y: auto;
	overflow-x: hidden;		
}

.settingsHeading {
	margin-top: 5px;
}

.settingsHeadingText {
	margin-left: 190px;
	color: #000000; 
	font: 26px 'Calibri', Verdana, Arial;
	font-weight: bold;  
}

#settingsHeadingCloseButton {	
	margin-left: 10px;
	cursor: pointer;
}

.sectionHeaderSettings {
	margin: 15px 10px 0 10px;
	width: 650px;
	padding: .25em, .25em, .25em .25em;
	color: #EFEFEF;
	text-shadow: 1px 1px 1px black;
	text-indent: 20px;	
	border: solid 1px #666;
	border-top-left-radius: .25em;
	border-top-right-radius: .25em;
	border-bottom-left-radius: .25em;
	border-bottom-right-radius: .25em;
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.42, rgb(86,136,222)),
		color-stop(0.71, rgb(135,203,255)),
		color-stop(0.86, rgb(172,220,242))
	);	
	clear: both;
	cursor: pointer;
}

.sectionHeaderImage {
	float: right;
}

.element {
  /*Setup location for buttons*/
	border: 2px solid #000; 
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
	border-bottom-left-radius: .5em;
	border-bottom-right-radius: .5em;
	float: left;
	margin-left: 20%;
	margin-bottom: 10px;
	width: 70%; 
	height: 36px; 
	background:#fff;
	cursor: pointer;
}

.elementtext {
	float: left;
  margin-top: 3px;
	margin-left: 13px;
	color: #000000; 
	font: 18px 'Calibri', Verdana, Arial;
	font-weight: bold; 
}

.elementimage {
	float: right;
  margin-top: -7px;
	margin-right: 3px;
}

.legend {
	color: #1569C7;
	font: 22px 'Comic Sans MS', Verdana, Arial;
	font-weight: bold;
}